{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
        <h2>Trading History</h2>
        <p>Your history of trading will appear here.</p>
        <table>
            <tr>
                <th>ID</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Type</th>
                <th>Time</th>
            </tr>
            <tr>
                {% for stock in history %}
                    <td>{{ stock["transaction_id"] }}</td>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["price"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ stock["type"] }}</td>
                    <td>{{ stock["time"] }}</td>
                <tr></tr>
                {% endfor %}
            </tr>
        </table>
{% endblock %}
